.register-page-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-form-container {
  display: flex;
  flex-direction: column;
  height: 50%;
}

.username-input, .password-input, .register-button {
  margin-bottom: 20px;
}

.checkbox-container {
  margin-bottom: 20px;
}