.login-page-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form-container {
  display: flex;
  flex-direction: column;
  height: 50%;
}

.username-input, .password-input, .log-in-button {
  margin-bottom: 20px;
}